.Medium_widget{
    width: 30vw;
    height: 17.5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    background: white;
    border-radius: 2.5vh;
}
.Large_widget{
    width: 30vw;
    height: 34vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    background: white;
    border-radius: 2.5vh;
}
